
@media screen and (min-width: 768px) {

    /* HERO */
    #hero .columns {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #hero .columns .col {
        width: calc(100% / 3 - 2rem);
    }

    #hero .columns div.col:first-child {
        width: calc(100% / 3 * 2 - 1rem);
    }

    #hero .col > .img {
        width: 80%;
    }

    


    /* BENEFIT */
    #benefit .columns {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #benefit .columns .col {
        width: 45%;
    }

    /* ABOUT US */
    #about-us .columns {
        flex-direction: row;
        justify-content: space-between;
    }

    #about-us .paragraph {
        width: 60%;
    }
    #about-us .linkedin {
        width: 35%;
    }

    /* Footer & Get-Started */
    footer .container,
    #get-started .container {
        width: 80%;
    }

    /* TESTIMONIAL */

    #testimonial .col {
        flex-direction: row;
        align-items: center;
    }

    #testimonial blockquote.text {
        width: 90%;
        text-align: justify;
    }

    #testimonial .avatar {
        width: 50%;
    }
    


}

/* LAPTOP MEDIA QUERY */
@media screen and (min-width: 1024px) {
    .header-menu > .navbar {
        display: flex;
    }

    .header-menu > button {
        display: none;
    }

    .container {
        width: 90%;
    }


    .strategic-planning,
    .app-dev {
        width: 50%;
    }

    


    /* HERO */
    .hero .col:first-child {
        flex-direction: row;
        align-items: flex-end;
    }

    .hero .get-demo {
        width: 50%;
        padding-bottom: 30px;
    }
    /* BENEFIT */
    .benefit .columns .col {
        width: calc(100% / 3 - 30px);
    }

    /* PLANNING */


    #planning .container {
        width: 80%;
    }

    #planning .columns {
        flex-direction: row;
        justify-content: space-between;
    }

    #planning .app-dev img{
        max-width: 70%;
    }

    #planning .app-dev {
        width: 40%;
    }

    #planning .columns {
        align-items: baseline;
        
    }
    
    /* Footer & Get-Started */
    footer .container,
    #get-started .container {
        width: 40%;
    }


}


