
@media screen and (min-width: 768px) {

    /* HERO */
    .hero .columns {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .hero .columns .col {
        width: calc(100% / 3 - 2rem);
    }

    .hero .columns div.col:first-child {
        width: calc(100% / 3 * 2 - 1rem);
    }


    /* BENEFIT */
    .benefit .columns {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .benefit .columns .col {
        width: 45%;
    }

    /* ABOUT US */
    .about-us .columns {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us .paragraph {
        width: 60%;
    }
    .about-us .linkedin {
        width: 35%;
    }

    /* Footer & Get-Started */
    footer .container,
    .get-started .container {
        width: 80%;
    }


}

/* LAPTOP MEDIA QUERY */
@media screen and (min-width: 1024px) {
    .header-menu > .navbar {
        display: flex;
    }

    .header-menu > button {
        display: none;
    }

    .container {
        width: 90%;
    }

    .planning .container {
        width: 80%;
    }

    .strategic-planning,
    .app-dev {
        width: 50%;
    }

    .planning .columns {
        flex-direction: row;
        justify-content: space-between;
    }

    /* BENEFIT */
    .benefit .columns .col {
        width: calc(100% / 3 - 30px);
    }

    /* Footer & Get-Started */
    footer .container,
    .get-started .container {
        width: 40%;
    }

}


