:root {
    --blue-color: #0084FD;
    --lightblue-color: #B5DDFF;
    --violet-color: #9792E4;
    --white-color: #ffffff;
    --black-color: #333333;
}

/* RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-color);
}

/* IMG RESET */
img {
    max-width: 100%;
}


/* -------------------------------------------------------------------------- */
/*                                   COMMON                                   */
/* -------------------------------------------------------------------------- */

/* LAYOUT */

.container {
    max-width: 1140px;
    margin: 0 auto;

}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100%;
    background-color: var(--blue-color);
}

.header .container {
    height: 60px;
    padding: 0 20px;
}

.header-menu > button {
    font-size: 1.8rem;
    background: transparent;
    border: 0;
}

.header-menu .navbar {
    display: none;
    list-style-type: none;
    gap: 2rem;
    font-size: 1.2rem;
}

.header-menu .navbar li a{
    text-decoration: none;
}

/* MAIN */

body {
    padding-top: 80px;
}

/* Hero Section */
.columns  {    
    flex-direction: column;
    gap: 2rem;
}

.columns .col {
    min-height: 400px;
    border-radius: 20px;
    background-color: var(--lightblue-color);
}

/* Planning Section */
.planning {
    background-color: var(--violet-color);
}

.strategic-planning,
.app-dev {

    /* debug */
    height: 500px;
    background-color: red;
}

/* Testimonial Section */
.testimonial .col {
    background-color: var(--violet-color);
}

/* Benefit Section */
.benefit {
    background-color: var(--violet-color);
}

.benefit .col {
    /* debug */
    background-color: var(--white-color);
}

/* About Us Section */

.paragraph,
.linkedin {
    min-height: 500px;
    background-color: lightgreen;

}

/* Get Started Section */

.get-started {
    background-color: var(--violet-color);

}

.get-started .container {
    min-height: 800px;
}

/* FOOTER */

footer {
    background-color: var(--black-color);

}

footer .container {
    min-height: 350px;
}
/* -------------------------------------------------------------------------- */
/*                                  UTILITIES                                 */
/* -------------------------------------------------------------------------- */

.just-cont-btw {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.flex {
    display: flex;
}

.white-btn {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
}

.p-50 {
    padding: 50px;
}

.subtitle {
    font-size: calc(6vw + 0.8rem);
    font-weight: bold;
}
