:root {
    --blue-color: #0084FD;
    --lightblue-color: #B5DDFF;
    --violet-color: #9792E4;
    --white-color: #ffffff;
    --black-color: #333333;
    --gold-color: #FDC15F;

    --medium: clamp(1.5rem, calc(10vw + 0.4rem), 2rem);
}

/* RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* IMG RESET */
img {
    max-width: 100%;
}


/* -------------------------------------------------------------------------- */
/*                                   COMMON                                   */
/* -------------------------------------------------------------------------- */

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-weight: bold;
}

body {
    padding-top: 60px;
    font-family: "PT Sans", sans-serif;
    color: var(--white-color);

}


/* LAYOUT */

.container {
    max-width: 1140px;
    margin: 0 auto;

}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100%;
    background-color: var(--blue-color);
}

#header .container {
    height: 60px;
    padding: 0 20px;
}

.header-menu > button {
    font-size: 1.8rem;
    background: transparent;
    border: 0;
    color: var(--white-color);
}

.header-menu .navbar {
    display: none;
    list-style-type: none;
    gap: 2rem;
    font-size: 1.2rem;
}


/* MAIN */

/* Hero Section */
.columns  {    
    flex-direction: column;
    gap: 2rem;
}

.columns .col {
    /* max-height: 400px; */
    border-radius: 30px;
    background-color: var(--lightblue-color);
}

#hero p {
    color: var(--black-color);
    font-weight: bold;
}

#hero .col:first-child {
    padding-bottom: 0;
    gap: 1.5rem;
}

#hero .col > .img {
    max-width: 300px;
}

/* Planning Section */
#planning {
    background-color: var(--violet-color);
}

#planning .app-dev > .col{
    color: var(--black-color);
    background-color: var(--white-color);
}

/* Testimonial Section */
#testimonial .col {
    background-color: var(--violet-color);
    font-size: clamp(1.1rem ,calc(3vw + 0.8rem), 1.5rem);
}


#testimonial .small-subtitle {
    color: var(--black-color);

}

#testimonial .name {
    color: var(--white-color);
    padding-top: 20px;
}

#testimonial .columns > p {
    color: var(--black-color);
}

#testimonial .avatar {
    aspect-ratio: 1;
}

#testimonial .avatar img{
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
}


/* Benefit Section */
#benefit {
    background-color: var(--violet-color);
}

#benefit .col {
    /* debug */
    background-color: var(--white-color);
}

/* About Us Section */

.paragraph,
.linkedin {
    min-height: 500px;
    /* background-color: lightgreen; */

}

.linkedin .avatar {
    aspect-ratio: 1;
    position: relative;
    width: 70%;
}

.linkedin .avatar img{
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
}

.linkedin .avatar > i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 70px;
}

.linkedin .medium-subtitle {
    font-size: var(--medium);
    
}

.linkedin .btn {
    width: 200px;
}

/* Get Started Section */

#get-started {
    background-color: var(--violet-color);

}

#get-started .container {
    min-height: 800px;
}

#get-started .medium-subtitle {
    font-size: calc(var(--medium ) + 20px);
}

#get-started .big-subtitle {
    font-size: calc(var(--medium) + 50px);
    font-weight: bold;
    color: var(--gold-color);

}

#get-started .btn {
    font-size: 30px;
    color: var(--violet-color);
    padding: 20px;
    max-width: 200px;
}

#get-started #privacy-policy {
    text-decoration: underline;
}

/* FOOTER */

footer {
    background-color: var(--black-color);

}

footer .container {
    min-height: 350px;
}

footer .violet-link {
    text-decoration: underline;
    color: var(--violet-color);
}
/* -------------------------------------------------------------------------- */
/*                                  UTILITIES                                 */
/* -------------------------------------------------------------------------- */

.just-cont-btw {
    justify-content: space-between;
}

.just-cont-center {
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.align-item-center {
    align-items: center;
}

.flex {
    display: flex;
}

.text-align-center {
    text-align: center;
}

.gap-30 {
    gap: 30px;
}

.gap-20 {
    gap: 10px;
}

.col-dir {
    flex-direction: column;
}

.circle-btn {
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
}

.btn {
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.white-btn {
    background-color: var(--white-color);
    color: black;
}

.blue-btn {
    font-size: 1.2rem;
    max-width: 220px;
    text-align: center;
    background-color: var(--blue-color);
    color: var(--white-color);
}

.violet-btn {
    width: 150px;
    background-color: var(--violet-color);
}

.blue-icon {
    font-size: 80px;
    padding-right: 0;
    color: var(--blue-color);
}

.white-icon {
    font-size: 1.5rem;
}

.fa-down-long {
    font-size: 30px;
    padding: 10px 15px;

}

.sec-p {
    padding: 80px 40px;
}
.p-40 {
    padding: 40px;
}

.p-30 {
    padding: 30px;
}

.p-y-30 {
    padding: 30px 0;
}

.p-right-10 {
    padding-right: 10px;
}

.ln-height {
    line-height: 30px;
}

.small-subtitle {
    font-size: clamp(1.5rem, calc(3vw + 0.4rem), 2.3rem) ;
    font-weight: bold;
}

.medium-subtitle {
    font-size: clamp(1.5rem, calc(10vw + 0.4rem), 3.5rem) ;
    font-weight: bold;
}

.numbered-card {
    font-size: clamp(2rem, calc(10vw + 0.4rem), 4rem) ;

    font-weight: bold;
    color: var(--violet-color);
}

.blue-color {
    color: var(--blue-color);
}

.violet-color {
    color: var(--violet-color);
}

.black-color {
    color: var(--black-color);
}

.white-color {
    color: var(--white-color);
}

.violet-bg {
    background-color: var(--violet-color);
}

